.container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  max-width: 95%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

th {
  background-color: #070707;
  font-size: large;
}

 th .btn-atualizar{
  width: 65%;
  text-align: end;
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 3px;
  padding-right: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-left: 5px;
  transition: 0.4s ease-in-out;
}

th .btn-atualizar:hover{
  background-color: rgb(3, 172, 3);
  border-radius: 10px;
  padding: 3px;
  padding-right: 5px;
  color: #070707;
}

td{
  background-color: #181920;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 3px;
  transition: 0.2s ease-in-out;
}

td:hover{
  background-color: #2f3038;
}

.excluir,
.editar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.excluir {
  color: rgb(230, 41, 41);
  padding: 5px;
}






