/*Estilo da table*/
.container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 70%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  table {
    margin: auto;
    width: 75%;
    border-collapse: collapse;
  }

/*Cabeçalho da tabela*/

th{
  
    background-color: #070707;
    font-size: large;
    
}

/*Dados da tabela*/


  td {
    background-color: #181920;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px;
  }

  td:hover{
    background-color: #2f3038;
  }

/*Botôes de excluir, editar e validar*/

  .area-button:hover{
    background-color: #382f2f;
    transform: scale(1.15);
  }

  .excluir, .editar, .validar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
  }

  .excluir{
    color: rgb(230, 41, 41);
  }

  .validar{
    color: rgb(58, 209, 58);
  }
