nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070707;
  padding: 14px;
  font-family: 'Poppins', sans-serif;
}

.logo,
.menu-itens {
  padding: 6px;
}

nav div{
  color: #fff;
}

.Logo {
  font-weight: bold;
  cursor: pointer;
  margin-left: 5vh;
  font-size: 20px;
  font-family: 'Dancing Script', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.Logo:hover {
  color: #2297fd;
  text-shadow: 0 0 10px #2297fd, 0 0 20px #2297fd, 0 0 30px #2297fd, 0 0 40px
  #2297fd, 0 0 70px #2297fd, 0 0 80px #2297fd, 0 0 100px #2297fd, 0 0 150px #2297fd;
  animation: neon-blink 1.5s ease-in-out infinite alternate;
}

@keyframes neon-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.menu-itens {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-itens li .li {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-right: 3vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
}

.menu-itens li .li:hover {
  text-decoration: none;
  transform: scale(1.20);
  color: #6e6e6e;
}

.submenu{
  display: none;
}

.submenu.active{
  display: block;
}