.container{
    width: 100%;
}

.title{
    text-align: center;
    color: #C0D0F7;
    font-size: large;
    font-weight: bold;
}

form {
    width: 50vh;
    padding: 38px;
    background-color: #181920;
    border-radius: 20px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    font-family: 'Roboto', sans-serif;
    align-items: center;
  }

  input,
  select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color:  #252A34;
    color: #C0D0F7;
    box-sizing: border-box;
    outline: none;
    
  }

  select{
    margin-bottom: 15px;
  }

  .infoGenero{
    color: #074b86;
  }

  .buttonSubmit{
    width: 100%;
    padding: 10px;
    background-color: #2297fd;
    color: #1c1c1c;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .buttonSubmit:hover{
    color: #fff;
    background-color: #074b86;
    transform: scale(1.05);
  }