.list-author{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
    justify-content: center;
    color: #C0D0F7;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.card-author {
    margin-top: 5vh;
    background-color: #181920;
    width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.card-author:hover{
    background-color:  #2f3038;
    transform: scale(1.03);
}

.card-author .name-author{
    display: flex;
    justify-content: space-between;
    border: 1px solid #C0D0F7;
    border-radius: 10px;
}

.card-author .name-author span{
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.card-author .imagem-author{
    width: 160px;
    height: 180px;
}

.card-author .obra-author,
.card-author .obra-author .obras
{
    display: flex;
    gap: 15px;
    padding: 8px;
    border-radius: 10px;
}

.obras{
    background-color: rgb(160, 160, 17);
}

p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li .resumo{
    max-height: 140px;
    overflow-y: scroll;
    font-size: 17px;
    padding-right: 8px;
    
}

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track{
    background-color: #2e2e2e;
    border-radius: 10px;

}

*::-webkit-scrollbar-thumb{
    background-color: #a8b5d6;
    border-radius: 10px;
    border: none;
}