.list-books{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
    justify-content: center;
    color: #C0D0F7;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.card-book {
    margin-top: 5vh;
    background-color: #181920;
    width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.card-book:hover{
    background-color:  #2f3038;
    transform: scale(1.05);
}

.card-book .name-book{
    display: flex;
    justify-content: space-between;
    border: 1px solid #C0D0F7;
    border-radius: 10px;
}

.card-book .name-book span{
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.card-book .imagem-book{
    width: 120px;
    height: 160px;
}

.card-book .tipo-genero,
.card-book .tipo-genero .Infantil
{

    display: flex;
    gap: 15px;
    padding: 8px;
    border-radius: 10px;
}

.Infantil{
    background-color: #bd621c;
}

li .info{
    max-height: 50px;
    font-size: 13px;
    padding-right: 8px;
    margin: 0;
}

li .price{
    color: #fff;
    margin: 0;
    font-weight: 800;
    font-size: large;
}

.btn-purchase{
    width: 70%;
    padding: 5px 0px;
    margin: 0;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
           
}

.btn-purchase:hover{
    transform: scale(1.1);
    transition: all 0.7s;
    background-color: #2297fd;
    color: #2b134b;
    box-shadow: 0px 10px 40px -12px #0c62ad; 
}


*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track{
    background-color: #2e2e2e;
    border-radius: 10px;

}

*::-webkit-scrollbar-thumb{
    background-color: #a8b5d6;
    border-radius: 10px;
    border: none;
}