.list-devs{
    flex-wrap: wrap;
    width: 90%;
    
    justify-content: center;
    color: #C0D0F7;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.card-dev {
    margin-top: 5vh;
    background-color: #181920;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
}

.card-dev:hover{
    background-color:  #2f3038;
}

.card-dev .name-dev{
    display: flex;
    justify-content: space-between;
    border: 1px solid #C0D0F7;
    border-radius: 10px;
}

.card-dev .name-dev span{
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.card-dev .imagem-dev{
    width: 160px;
    height: 200px;
}

.card-dev .funcao,
.card-dev .funcao .lider,
.card-dev .funcao .fullstack,
.card-dev .funcao .frontend,
.card-dev .funcao .backend
{

    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    gap: 15px;
    padding: 8px;
    border-radius: 10px;
}

.lider{
    background-color: rgb(56, 101, 248);
}

.fullstack{
    background-color: #bd621c;
}

.frontend{
    background-color: rgb(160, 160, 17);
}

.backend{
    background-color: rgb(148, 5, 5);
}

p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li .descricao{
    max-height: 140px;
    font-size: 18px;
    padding-right: 8px; 
}

.redes{
    width: 33px;
}