footer {
    background-color: #070707;;
    padding: 20px;
    text-align: center;
    margin-top: 5vh;
    font-family: 'Roboto', sans-serif;
  }
  
  .footer-content {
    
    font-size: 14px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .title-footer{
    font-size: 16px;
  }
  
  .footer-content a {
    color: #448fd6;
    text-decoration: none;
  }

  .footer-content a:hover{
    color: #244192;
    text-decoration: none;
  }