.container-formNewBook{
  background-color: #070707;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 80%;
  
}

.pAddNewBook{
  margin-left: 20px;
  padding-top: 15px;
  padding-left: 20px;
  text-align: start;
}

.Form-new-book {
    display: flex;
    width: 95%;
    padding-bottom: 15px;
    padding-left: 18px;
    gap: 5px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    
    
  }

  .Form-new-book input,
  .Form-new-book select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  #181920;
    color: #C0D0F7;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    margin: auto;
  }

  .Form-new-book select .Category{
    background-color: #1c1c1c;
  }

 .Form-new-book select .infoCategory{
    background-color: #1c1c1c;
    color: #676868;
  }

  .buttonSubmit{
    width: 15%;
    padding: 10px;
    background-color: #2297fd;
    color: #1c1c1c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .buttonSubmit:hover{
    background-color: #2297fd;
    box-shadow: 0 0 20px rgba(34, 151, 253, 0.8);
  }