form {
    display: flex;
    width: 70%;
    padding: 20px;
    gap: 5px;
    background-color: #070707;
    border-radius: 5px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    
  }

  form input,
  form select {
    width: 15vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  #181920;
    color: #C0D0F7;
    box-sizing: border-box;
    outline: none;
    
  }

  form select .genero{
    background-color: #1c1c1c;
  }

 form select .infoGen{
    background-color: #1c1c1c;
    color: #676868;
  }

  .buttonSubmit{
    width: 15vh;
    padding: 10px;
    background-color: #2297fd;
    color: #1c1c1c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .buttonSubmit:hover{
    background-color: #2297fd;
    box-shadow: 0 0 20px rgba(34, 151, 253, 0.8);
  }